In [1]:
import pandas as pd
pd.__version__

'1.4.2'

In [2]:
df = pd.read_parquet('data/green_tripdata_2022-01.parquet')
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2022-01-01 00:14:21,2022-01-01 00:15:33,N,1.0,42,42,1.0,0.44,3.5,0.50,0.5,0.00,0.0,None,0.3,4.80,2.0,1.0,0.00
1,1,2022-01-01 00:20:55,2022-01-01 00:29:38,N,1.0,116,41,1.0,2.10,9.5,0.50,0.5,0.00,0.0,None,0.3,10.80,2.0,1.0,0.00
2,1,2022-01-01 00:57:02,2022-01-01 01:13:14,N,1.0,41,140,1.0,3.70,14.5,3.25,0.5,4.60,0.0,None,0.3,23.15,1.0,1.0,2.75
3,2,2022-01-01 00:07:42,2022-01-01 00:15:57,N,1.0,181,181,1.0,1.69,8.0,0.50,0.5,0.00,0.0,None,0.3,9.30,2.0,1.0,0.00
4,2,2022-01-01 00:07:50,2022-01-01 00:28:52,N,1.0,33,170,1.0,6.26,22.0,0.50,0.5,5.21,0.0,None,0.3,31.26,1.0,1.0,2.75

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62495 entries, 0 to 62494
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               62495 non-null  int64
 1   lpep_pickup_datetime   62495 non-null  datetime64[ns]
 2   lpep_dropoff_datetime  62495 non-null  datetime64[ns]
 3   store_and_fwd_flag     56200 non-null  object
 4   RatecodeID             56200 non-null  float64
 5   PULocationID           62495 non-null  int64
 6   DOLocationID           62495 non-null  int64
 7   passenger_count        56200 non-null  float64
 8   trip_distance          62495 non-null  float64
 9   fare_amount            62495 non-null  float64
 10  extra                  62495 non-null  float64
 11  mta_tax                62495 non-null  float64
 12  tip_amount             62495 non-null  float64
 13  tolls_amount           62495 non-null  float64
 14  ehail_fee              0 non-null      object
 15  improvement_surcharge  62495 non-null  float64
 16  total_amount           62495 non-null  float64
 17  payment_type           56200 non-null  float64
 18  trip_type              56200 non-null  float64
 19  congestion_surcharge   56200 non-null  float64
dtypes: datetime64[ns](2), float64(13), int64(3), object(2)
memory usage: 9.5+ MB

In [11]:
( # check for number of NULL records in each column
    df
    .isnull()
    .sum(axis=0) 
)

VendorID                     0
lpep_pickup_datetime         0
lpep_dropoff_datetime        0
store_and_fwd_flag        6295
RatecodeID                6295
PULocationID                 0
DOLocationID                 0
passenger_count           6295
trip_distance                0
fare_amount                  0
extra                        0
mta_tax                      0
tip_amount                   0
tolls_amount                 0
ehail_fee                62495
improvement_surcharge        0
total_amount                 0
payment_type              6295
trip_type                 6295
congestion_surcharge      6295
dtype: int64